/* reset css */
* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

html body ul ol {
    list-style: none;
}

html body a {
    text-decoration: none;
}

/* resolucion mobile 70px */
@media (min-width:70px) {
    .contenedor__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* header mobile */
    header {
        background: rgb(255, 0, 0);
        background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 4%, rgba(29, 16, 16, 1) 53%, rgb(0, 0, 0) 100%);
        width: 100Vw;
        margin: 0%;
    }

    header nav {
        margin: auto;
        width: fit-content;
        align-items: center;
    }

    header nav ul {
        display: flex;
        width: fit-content;
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
    }


    header nav ul li {
        list-style: none;
        margin: 5px;

    }

    header nav ul li a {
        color: rgb(221, 87, 87);
        font-size: 0.5rem;
        padding: 3px;
        margin: 20px;
    }

    /* main mobile */
    .main__index {
        height: fit-content;
        width: 100%;
    }

    .seccion-presentacion {
        background-image: url(../imagenes/portada.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100%;
    }

    .seccion-presentacion__titulo {
        text-align: center;
        background-color: rgba(255, 0, 0, 0.334);
        border-radius: 50px;
        padding: 20px;
        font-size: 1rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.807);
    }

    .seccion-novedades {
        background: rgb(255, 0, 33);
        background: linear-gradient(180deg, rgba(255, 0, 33, 1) 0%, rgba(79, 2, 12, 1) 41%, rgba(42, 1, 6, 1) 61%, rgba(0, 0, 0, 1) 100%);
        color: red;
        text-align: center;
        font-size: 1rem;
        height: 1.5rem;
        align-content: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.495);
    }

    .seccion-inicio {
        color: red;
        background: rgb(93, 0, 12);
        background: radial-gradient(circle, rgba(93, 0, 12, 1) 32%, rgba(27, 0, 3, 1) 79%, rgba(0, 0, 0, 1) 100%, rgba(33, 0, 4, 1) 100%, rgba(33, 0, 4, 1) 100%);
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion-incio__titulo {
        margin: 15px;
        font-size: 1rem;
    }

    .seccion-inicio__img {
        background-image: url(../imagenes/memoriasram.jpg);
        height: 10vh;
        width: 50vw;
        background-position: center;
        background-size: cover;
    }

    .seccion-inicio__texto {
        margin: 15px;
        text-align: justify;
        font-size: 0.75rem;
    }

    .seccion-inicio__vermas {
        margin: 15px;
    }

    .seccion-inicio__vermas-redireccion {
        color: red;
        text-decoration: none;
    }

    /* main mobile pagina cursos */
    .main__cursos {
        width: 100vw;
        height: fit-content;
    }

    .seccion-cursos {
        background-image: url(../imagenes/fondo3.jpg);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-flow: nowrap column;
        color: red;
        justify-content: center;
        align-items: center;
    }

    .seccion-cursos__titulo {
        font-size: 1rem;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.448);
        margin-top: 10vh;
        padding: 15px 30vw;
        border-radius: 30px;
    }

    .contenedor-padre__curso{
            background: rgb(255, 0, 0);
            background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgb(0, 0, 0) 100%);
            background-position: center;
            background-size: contain;
            width: 100vw;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    .contenedor-curso {
        background-color: rgba(0, 0, 0, 0.536);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        margin: 20px 0px;
    }

    .contenedor-curso__titulo {
        margin: 15px;
        text-align: center;
        font-size: 1rem;
    }

    .contenedor-curso_reparacionimg {
        background-image: url(../imagenes/reparaciondepc.jpg);
        background-position: center;
        background-size: cover;
        width: 90px;
        height: 90px;
        margin: 15px auto;
    }

    .contenedor-Cursos__desallorowebImg {
        background-image: url(../imagenes/desarrollo.jpg);
        background-position: center;
        background-size: contain;
        width: 90px;
        height: 90px;
        margin: 15px auto;
    }

    .contenedor-cursos__photoshopImg {
        background-image: url(../imagenes/photoshop.jpg);
        background-position: center;
        background-size: contain;
        width: 90px;
        height: 40px;
        margin: 15px auto;
    }

    .boton {
        background-color: red;
        border-radius: 20px;
        width: fit-content;
        height: fit-content;
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    html body div main div div section p a {
        color: black;
        text-decoration: none;
    }

    .boton:hover{
        transform: scale(1.2);
        background-color: red;
        border-style: groove;
        border-color: white;
    }
    
    .cursos-extras {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgba(2, 0, 36, 1) 100%);
        background-position: center;
        background-size: contain;
    }

    .cursosAdicionales {
        background-color: black;
        color: red;
        text-align: center;
        font-size: 1rem;
        padding: 15px;
    }

    .contenedor-padre__adicionales {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgb(0, 0, 0) 100%);
        background-position: center;
        background-size: contain;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-adicionales {
        background-color: rgba(0, 0, 0, 0.536);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 190px;
        margin: 20px 0px;
    }

    .contenedor-adicionales__titulo {
        margin: 9px 0px;
        text-align: center;
        color: red;
        font-size: 1rem;
    }

    .contenedor-adicionales__img-cualidades {
        background-image: url(../imagenes/personal.jpg);
        background-position: center;
        background-size: cover;
        width: 90px;
        height: 90px;
        margin: 15px auto;
    }

    .contenedor-adicionales__img-linkedin {
        background-image: url(../imagenes/linkedin.jpg);
        background-position: center;
        background-size: contain;
        width: 90px;
        height: 90px;
        margin: 15px auto;
    }

    .contenedor-adicionales__img-freelance {
        background-image: url(../imagenes/freelance.jpg);
        background-position: center;
        background-size: contain;
        width: 90px;
        height: 90px;
        margin: 15px auto;
    }


    /* footer mobile */
    footer {
        color: red;
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgba(0, 0, 0, 1) 100%);
        width: 100vw;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "seguinos" "contacto" "informacion";
        font-size: 0.5rem;
        text-align: justify;
    }

    footer section ul li {
        color: red;
        list-style: none;
    }

    footer section ul li a {
        color: red;
        text-decoration: none
    }

    .footer__Titulo {
        font-size: 1rem;
        color: black;
        text-align: center;
    }

    .footer__contacto {
        grid-area: "contacto";
        text-align: center;
    }

    .footer__seguinos {
        grid-area: "seguinos";
        text-align: center;
    }

    .footer__informacion {
        grid-area: "informacion";
        text-align: center;
    }
}

/* resolucion mobile 330px */
@media (min-width:330px) {

    .contenedor__body {
        display: grid;
        width: auto;
        grid-template-rows: 10vh fit-content 30vh;
        grid-template-columns: fit-content;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }

    /* header mobile */
    header {
        background: rgb(255, 0, 0);
        background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 4%, rgba(29, 16, 16, 1) 53%, rgb(0, 0, 0) 100%);
        width: 100Vw;
        margin: 0%;
        grid-area: "header";
    }

    header nav {
        margin: auto;
        width: fit-content;
        align-items: center;
    }

    header nav ul {
        display: flex;
        width: fit-content;
        justify-content: space-between;
        font-size: 0.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "noticias home cursos "
            "productos nada ingresar";
    }

    header nav ul li {
        list-style: none;
        margin: 5px;
    }

    .navbar__elemento-home {
        grid-area: home;
    }

    .navbar__elemento-productos {
        grid-area: productos;
    }

    .navbar__elemento-ingresar {
        grid-area: ingresar;
    }

    .navbar_elemento-cursos {
        grid-area: curos;
    }

    .navbar_elemento-noticias {
        grid-area: noticias;
    }

    header nav ul li a {
        color: rgb(221, 87, 87);
        font-size: 12px;
        padding: 3px;
        margin: 20px;
    }

    /* main mobile */
    main {
        height: fit-content;
        width: 100%;
        grid-area: "main";
    }

    .seccion-presentacion {
        height: 50vh;
        width: 100%;
    }

    .seccion-presentacion {
        background-image: url(../imagenes/portada.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seccion-presentacion__titulo {
        text-align: center;
        background-color: rgba(255, 0, 0, 0.334);
        border-radius: 50px;
        padding: 20px;
        font-size: 1.5rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.807);
    }

    .seccion-novedades {
        background: rgb(255, 0, 33);
        background: linear-gradient(180deg, rgba(255, 0, 33, 1) 0%, rgba(79, 2, 12, 1) 41%, rgba(42, 1, 6, 1) 61%, rgba(0, 0, 0, 1) 100%);
        color: rgb(255, 0, 0);
        text-align: center;
        font-size: 1.5rem;
        height: 2rem;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.495);
    }

    .seccion-inicio {
        color: red;
        background: rgb(93, 0, 12);
        background: radial-gradient(circle, rgba(93, 0, 12, 1) 32%, rgba(27, 0, 3, 1) 79%, rgba(0, 0, 0, 1) 100%, rgba(33, 0, 4, 1) 100%, rgba(33, 0, 4, 1) 100%);
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion-incio__titulo {
        margin: 15px;
        font-size: 1.5rem;
    }

    .seccion-inicio__img {
        background-image: url(../imagenes/memoriasram.jpg);
        height: 20vh;
        width: 50vw;
        background-position: center;
        background-size: cover;
    }

    .seccion-inicio__texto {
        margin: 15px;
        text-align: justify;
        font-size: 0.75rem;
    }

    .seccion-inicio__vermas {
        margin: 15px;
    }

    .seccion-inicio__vermas-redireccion {
        color: red;
        text-decoration: none;
    }

    /* pagina cursos */
    .main__cursos {
        width: 100vw;
        height: fit-content;
    }

    .seccion-cursos {
        background-image: url(../imagenes/fondo3.jpg);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-flow: nowrap column;
        color: red;
        justify-content: center;
        align-items: center;
    }

    .seccion-cursos__titulo {
        font-size: 2rem;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.448);
        margin-top: 10vh;
        padding: 15px 15vw;
        border-radius: 30px;
    }

    .contenedor-padre__curso{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .contenedor-curso {
        background-color: rgba(0, 0, 0, 0.536);
        margin: 15px 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .contenedor-curso__titulo {
        margin: 15px;
        text-align: center;
    }

    .contenedor-curso_reparacionimg {
        background-image: url(../imagenes/reparaciondepc.jpg);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 150px;
        margin: 15px auto;
    }

    .contenedor-Cursos__desallorowebImg {
        background-image: url(../imagenes/desarrollo.jpg);
        background-position: center;
        background-size: contain;
        width: 220px;
        height: 150px;
        margin: 15px auto;
    }

    .contenedor-cursos__photoshopImg {
        background-image: url(../imagenes/photoshop.jpg);
        background-position: center;
        background-size: contain;
        width: 200px;
        height: 150px;
        margin: 15px auto;
    }


    .cursos-extras {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgba(2, 0, 36, 1) 100%);
        background-position: center;
        background-size: contain;
    }

    .cursosAdicionales {
        background-color: black;
        color: red;
        text-align: center;
        font-size: 2rem;
        padding: 15px;
    }

    .contenedor-padre__adicionales {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgb(0, 0, 0) 100%);
        background-position: center;
        background-size: contain;
        width: 100vw;
        height: fit-content;
    }

    .contenedor-adicionales {
        background-color: rgba(0, 0, 0, 0.536);
        margin: 15px 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .contenedor-adicionales__titulo {
        margin: 15px;
        text-align: center;
        color: red;
    }

    .contenedor-adicionales__img-cualidades {
        background-image: url(../imagenes/personal.jpg);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 250px;
        margin: 15px auto;
    }

    .contenedor-adicionales__img-linkedin {
        background-image: url(../imagenes/linkedin.jpg);
        background-position: center;
        background-size: contain;
        width: 100px;
        height: 150px;
        margin: 15px auto;
    }

    .contenedor-adicionales__img-freelance {
        background-image: url(../imagenes/freelance.jpg);
        background-position: center;
        background-size: contain;
        width: 100px;
        height: 150px;
        margin: 15px auto;
    }


    /* footer mobile */
    footer {
        color: red;
        background: rgb(255, 0, 33);
        background: linear-gradient(180deg, rgba(255, 0, 33, 1) 19%, rgba(79, 2, 12, 1) 41%, rgba(42, 1, 6, 1) 61%, rgba(0, 0, 0, 1) 100%);
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
        text-align: justify;
        grid-area: "footer";
    }

    footer section ul li a {
        color: red;
    }

    .footer__Titulo {
        font-size: 1rem;
        color: black;
    }
}

/* resolucion mobile 530*/
@media (min-width:530px) {

    .contenedor__body {
        display: grid;
        width: auto;
        grid-template-rows: 10vh fit-content 30vh;
        grid-template-columns: fit-content;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }

    /* header mobile */
    header {
        background: rgb(255, 0, 0);
        background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 4%, rgba(29, 16, 16, 1) 53%, rgb(0, 0, 0) 100%);
        display: flex;
        height: 10vh;
        width: 100vw;
        position: sticky;
        margin: 0%;
        grid-area: "header";
    }

    header nav {
        margin: auto;
        width: fit-content;
        align-items: center;
    }

    header nav ul {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        font-size: 0, 5rem;
    }

    header nav ul li {
        list-style: none;
    }


    header nav ul li a {
        color: red;
        font-size: 1rem;
        padding: 3px;
        margin: 2vw;
    }

    /* main mobile */
    main {
        height: fit-content;
        width: 100%;
        grid-area: "main";
    }

    .seccion-presentacion {
        height: 50vh;
        width: 100%;
    }

    .seccion-presentacion {
        background-image: url(../imagenes/portada.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seccion-presentacion__titulo {
        text-align: center;
        background-color: rgba(255, 0, 0, 0.334);
        border-radius: 50px;
        padding: 20px;
        font-size: 2rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.807);
    }

    .seccion-novedades {
        background: rgb(255, 0, 33);
        background: linear-gradient(180deg, rgba(255, 0, 33, 1) 0%, rgba(79, 2, 12, 1) 41%, rgba(42, 1, 6, 1) 61%, rgba(0, 0, 0, 1) 100%);
        color: red;
        text-align: center;
        font-size: 2rem;
        height: 4rem;
        align-content: center;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.495);
    }

    .seccion-inicio {
        color: red;
        background: rgb(93, 0, 12);
        background: radial-gradient(circle, rgba(93, 0, 12, 1) 32%, rgba(27, 0, 3, 1) 79%, rgba(0, 0, 0, 1) 100%, rgba(33, 0, 4, 1) 100%, rgba(33, 0, 4, 1) 100%);
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion-incio__titulo {
        margin: 15px;
    }

    .seccion-inicio__img {
        background-image: url(../imagenes/memoriasram.jpg);
        height: 30vh;
        width: 50vw;
        background-position: center;
        background-size: cover;
    }

    .seccion-inicio__texto {
        margin: 10vw;
        text-align: justify;
        font-size: 1.5rem;
    }

    .seccion-inicio__vermas {
        margin: 15px;
        font-size: 2rem;
    }

    .seccion-inicio__vermas-redireccion {
        color: red;
        text-decoration: none;
    }

    /* pagina cursos resolucio */
    .main__cursos {
        width: 100vw;
        height: fit-content;
    }

    .seccion-cursos {
        background-image: url(../imagenes/fondo3.jpg);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-flow: nowrap column;
        color: red;
        justify-content: center;
        align-items: center;
    }

    .seccion-cursos__titulo {
        font-size: 2rem;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.448);
        margin-top: 10vh;
        padding: 15px 20vw;
        border-radius: 30px;
    }

    .contenedor-padre__curso {
        display: flex;
        flex-flow: column;
        width: 100vw;
        justify-content: end;
    }

    .contenedor-curso {
        background-color: rgba(0, 0, 0, 0.536);
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-curso__titulo {
        margin: 15px;
        text-align: center;
        color: red;
        font-size: 2rem;
    }

    .contenedor-curso_reparacionimg {
        background-image: url(../imagenes/reparaciondepc.jpg);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 150px;
        margin: 15px auto;
    }

    .contenedor-Cursos__desallorowebImg {
        background-image: url(../imagenes/desarrollo.jpg);
        background-position: center;
        background-size: contain;
        width: 220px;
        height: 150px;
        margin: 15px auto;
    }

    .contenedor-cursos__photoshopImg {
        background-image: url(../imagenes/photoshop.jpg);
        background-position: center;
        background-size: contain;
        width: 200px;
        height: 150px;
        margin: 15px auto;
    }

    .cursos-extras {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgba(2, 0, 36, 1) 100%);
        background-position: center;
        background-size: contain;
    }

    .cursosAdicionales {
        background-color: black;
        color: red;
        text-align: center;
        font-size: 2rem;
        height: fit-content;
    }

    .contenedor-padre__adicionales {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgb(0, 0, 0) 100%);
        background-position: center;
        background-size: contain;
        height: fit-content;
    }

    .contenedor-adicionales {
        background-color: rgba(0, 0, 0, 0.536);
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-adicionales__titulo {
        margin: 15px;
        text-align: center;
        color: red;
        font-size: 2rem;
    }

    .contenedor-adicionales__img-cualidades {
        background-image: url(../imagenes/personal.jpg);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 150px;
        margin: 15px auto;
    }

    .contenedor-adicionales__img-linkedin {
        background-image: url(../imagenes/linkedin.jpg);
        background-position: center;
        background-size: contain;
        width: 220px;
        height: 150px;
        margin: 15px auto;
    }

    .contenedor-adicionales__img-freelance {
        background-image: url(../imagenes/freelance.jpg);
        background-position: center;
        background-size: contain;
        width: 200px;
        height: 150px;
        margin: 15px auto;
    }

    /* footer mobile */
    footer {
        color: red;
        background: rgb(255, 0, 33);
        background: linear-gradient(180deg, rgba(255, 0, 33, 1) 19%, rgba(79, 2, 12, 1) 41%, rgba(42, 1, 6, 1) 61%, rgba(0, 0, 0, 1) 100%);
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5rem;
        text-align: justify;
        grid-area: "footer";
    }

    footer section ul li a {
        color: red;
    }

    .footer__Titulo {
        font-size: 1rem;
        color: black;
    }
}

/* resolucion hasta 768px */
@media (min-width: 768px) {

    /* grilla de la pagina */
    .contenedor__body {
        display: grid;
        width: auto;
        grid-template-rows: 10vh fit-content 20vh;
        grid-template-columns: fit-content;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }

    /* header */
    header {
        background: rgb(255, 0, 0);
        background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 4%, rgba(29, 16, 16, 1) 53%, rgb(0, 0, 0) 100%);
        display: flex;
        height: 10vh;
        width: 100vw;
        position: sticky;
        margin: 0%;
        grid-area: header;
    }

    header nav {
        margin: auto;
        width: fit-content;
        align-items: center;
    }

    header nav ul {
        display: flex;
        padding: 0px 5px;
        width: 100vw;
        justify-content: space-between;
        font-size: 0, 5rem;
    }

    header nav ul li {
        list-style: none;
    }


    header nav ul li a {
        color: red;
        font-size: 1rem;
        padding: 3px;
    }

    /* main desktop */

    main {
        width: 100%;
        height: fit-content;
        grid-area: main;
    }

    .seccion-presentacion {
        height: 90vh;
        width: auto;
        background-image: url(../imagenes/portada.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seccion-presentacion__titulo {
        text-align: center;
        background-color: rgba(255, 0, 0, 0.334);
        border-radius: 50px;
        padding: 20px;
        font-size: 3rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.807);
    }

    .seccion-novedades {
        background: rgb(255, 0, 0);
        background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 4%, rgba(29, 16, 16, 1) 53%, rgb(0, 0, 0) 100%);
        color: red;
        font-size: 3rem;
        text-align: center;
        height: 10vh;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.495);
    }

    .seccion-inicio {
        color: red;
        background: rgb(93, 0, 12);
        background: radial-gradient(circle, rgba(93, 0, 12, 1) 32%, rgba(27, 0, 3, 1) 79%, rgba(0, 0, 0, 1) 100%, rgba(33, 0, 4, 1) 100%, rgba(33, 0, 4, 1) 100%);
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 20vh 50vh 10vh;
        grid-template-areas:
            "titulo titulo"
            "img texto"
            "mas mas";
        align-items: center;
        justify-items: center;
    }

    .seccion-incio__titulo {
        background-color: rgba(0, 0, 0, 0.44);
        height: fit-content;
        padding: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        grid-area: "titulo";
        grid-column: span 2;
    }

    .seccion-inicio__texto {
        border: 10px;
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        grid-area: "texto";
        text-align: justify;
        font-size: 1.5rem;
        margin: 15px 0px;
    }

    .seccion-inicio__img {
        background-image: url(../imagenes/memoriasram.jpg);
        height: 70%;
        width: 50%;
        grid-area: img;
        display: flex;
        background-position: center;
        background-size: cover;
    }

    .seccion-inicio__vermas {
        grid-area: mas;
        grid-column: span 2;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 10%;
    }

    .seccion-inicio__vermas-redireccion {
        color: red;
        text-decoration: none;
        margin-bottom: 15px;
        text-align: center;
        font-size: 2rem;
    }



    /* pagina cursos resolucion 700px*/
    .main__cursos {
        width: 100vw;
        height: fit-content;
    }

    .seccion-cursos {
        background-image: url(../imagenes/fondo3.jpg);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        display: flex;
        color: red;
        justify-content: center;
        align-items: center;
    }

    .seccion-cursos__titulo {
        font-size: 2rem;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.448);
        border-radius: 30px;
        margin: 10vh 0px;
    }

    .contenedor-padre__curso {
        display: flex;
        flex-flow: row nowrap;
        width: 100vw;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: space-between;
    }

    .contenedor-curso {
        background-color: rgba(0, 0, 0, 0.536);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 300px;
    }

    .contenedor-curso__titulo {
        margin: 15px 0px;
        text-align: center;
        font-size: 1rem;
        justify-content: baseline;
    }

    .contenedor-curso_reparacionimg {
        background-image: url(../imagenes/reparaciondepc.jpg);
        background-position: center;
        background-size: cover;
        width: 15vw;
        height: 150px;
    }

    .contenedor-Cursos__desallorowebImg {
        background-image: url(../imagenes/desarrollo.jpg);
        background-position: center;
        background-size: cover;
        width: 15vw;
        height: 150px;
    }

    .contenedor-cursos__photoshopImg {
        background-image: url(../imagenes/photoshop.jpg);
        background-position: center;
        background-size: cover;
        width: 15vw;
        height: 150px;
    }


    .contenedor-padre__adicionales {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgb(0, 0, 0) 100%);
        background-position: center;
        background-size: contain;
        height: fit-content;
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .cursosAdicionales {
        background-color: black;
        color: red;
        text-align: center;
        font-size: 2rem;
    }

    .contenedor-adicionales {
        background-color: rgba(0, 0, 0, 0.536);
        width: 180px;
        height: 300px;

    }

    .contenedor-adicionales__titulo {
        margin: 15px 0px;
        text-align: center;
        color: red;
        font-size: 1rem;
    }

    .contenedor-adicionales__img-cualidades {
        background-image: url(../imagenes/personal.jpg);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 300px;
    }

    .contenedor-adicionales__img-linkedin {
        background-image: url(../imagenes/linkedin.jpg);
        background-position: center;
        background-size: contain;
        width: 150px;
        height: 300px;
    }

    .contenedor-adicionales__img-freelance {
        background-image: url(../imagenes/freelance.jpg);
        background-position: center;
        background-size: contain;
        width: 150px;
        height: 150px;
    }

    /* footer desktop*/
    footer {
        color: red;
        background: rgb(255, 0, 33);
        background: linear-gradient(180deg, rgba(255, 0, 33, 1) 19%, rgba(79, 2, 12, 1) 41%, rgba(42, 1, 6, 1) 61%, rgba(0, 0, 0, 1) 100%);
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        text-align: justify;
        grid-area: "footer";
    }

    footer section ul li a {
        color: red;
    }

    .footer__Titulo {
        font-size: 1.5rem;
        color: black;
    }
}    
@media (min-width:1075px){
          /* grilla de la pagina */
    .contenedor__body {
        display: grid;
        width: auto;
        grid-template-rows: 10vh fit-content 20vh;
        grid-template-columns: fit-content;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }

    /* header */
    header {
        background: rgb(255, 0, 0);
        background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 4%, rgba(29, 16, 16, 1) 53%, rgb(0, 0, 0) 100%);
        display: flex;
        height: 10vh;
        width: 100vw;
        position: sticky;
        margin: 0%;
        grid-area: header;
    }

    header nav {
        margin: auto;
        width: fit-content;
        align-items: center;
    }

    header nav ul {
        display: flex;
        padding: 0px 5px;
        width: 100vw;
        justify-content: space-between;
        font-size: 0, 5rem;
    }

    header nav ul li {
        list-style: none;
    }


    header nav ul li a {
        color: red;
        font-size: 1rem;
        padding: 3px;
    }

    /* main desktop */

    main {
        width: 100%;
        height: fit-content;
        grid-area: main;
    }

    .seccion-presentacion {
        height: 90vh;
        width: auto;
        background-image: url(../imagenes/portada.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seccion-presentacion__titulo {
        text-align: center;
        background-color: rgba(255, 0, 0, 0.334);
        border-radius: 50px;
        padding: 20px;
        font-size: 3rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.807);
    }

    .seccion-novedades {
        background: rgb(255, 0, 0);
        background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 4%, rgba(29, 16, 16, 1) 53%, rgb(0, 0, 0) 100%);
        color: red;
        font-size: 3rem;
        text-align: center;
        height: 10vh;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.495);
    }

    .seccion-inicio {
        color: red;
        background: rgb(93, 0, 12);
        background: radial-gradient(circle, rgba(93, 0, 12, 1) 32%, rgba(27, 0, 3, 1) 79%, rgba(0, 0, 0, 1) 100%, rgba(33, 0, 4, 1) 100%, rgba(33, 0, 4, 1) 100%);
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 20vh 50vh 10vh;
        grid-template-areas:
            "titulo titulo"
            "img texto"
            "mas mas";
        align-items: center;
        justify-items: center;
    }

    .seccion-incio__titulo {
        background-color: rgba(0, 0, 0, 0.44);
        height: fit-content;
        padding: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        grid-area: "titulo";
        grid-column: span 2;
    }

    .seccion-inicio__texto {
        border: 10px;
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        grid-area: "texto";
        text-align: justify;
        font-size: 1.5rem;
        margin: 15px 0px;
    }

    .seccion-inicio__img {
        background-image: url(../imagenes/memoriasram.jpg);
        height: 70%;
        width: 50%;
        grid-area: img;
        display: flex;
        background-position: center;
        background-size: cover;
    }

    .seccion-inicio__vermas {
        grid-area: mas;
        grid-column: span 2;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 10%;
    }

    .seccion-inicio__vermas-redireccion {
        color: red;
        text-decoration: none;
        margin-bottom: 15px;
        text-align: center;
        font-size: 2rem;
    }



    /* pagina cursos resolucion 700px*/
    .main__cursos {
        width: 100vw;
        height: fit-content;
    }

    .seccion-cursos {
        background-image: url(../imagenes/fondo3.jpg);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: fit-content;
        display: flex;
        color: red;
        justify-content: center;
        align-items: center;
    }

    .seccion-cursos__titulo {
        font-size: 2rem;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.448);
        border-radius: 30px;
    }

    .contenedor-padre__curso {
        display: flex;
        flex-flow: row nowrap;
        width: 100vw;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .contenedor-padre__curso {
        display: flex;
        flex-flow: row nowrap;
        width: 100vw;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .contenedor-curso {
        background-color: rgba(0, 0, 0, 0.536);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: auto;
    }

    .contenedor-curso__titulo {
        margin: 15px 0px;
        text-align: center;
        font-size: 1.5rem;
        justify-content: baseline;
    }

    .contenedor-curso_reparacionimg {
        background-image: url(../imagenes/reparaciondepc.jpg);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 150px;
    }

    .contenedor-Cursos__desallorowebImg {
        background-image: url(../imagenes/desarrollo.jpg);
        background-position: center;
        background-size: contain;
        width: 150px;
        height: 150px;
    }

    .contenedor-cursos__photoshopImg {
        background-image: url(../imagenes/photoshop.jpg);
        background-position: center;
        background-size: contain;
        width: 150px;
        height: 150px;
    }

    .boton {
        background-color: red;
        color: white;
        border-radius: 20px;
        width: fit-content;
        height: fit-content;
        padding: 10px 20px;
    }

    p a .boton__a {
        color: white;
        text-decoration: none;
    }


    .contenedor-padre__adicionales {
        background: rgb(255, 0, 0);
        background: linear-gradient(144deg, rgba(255, 0, 0, 1) 0%, rgba(239, 2, 2, 1) 0%, rgba(244, 1, 1, 1) 13%, rgba(207, 4, 4, 1) 29%, rgba(63, 14, 14, 1) 53%, rgba(29, 16, 16, 1) 78%, rgb(0, 0, 0) 100%);
        background-position: center;
        background-size: contain;
        height: fit-content;
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .cursosAdicionales {
        background-color: black;
        color: red;
        text-align: center;
        font-size: 2rem;
    }

    .contenedor-adicionales {
        background-color: rgba(0, 0, 0, 0.536);
        width: 200px;
        height: 300px;

    }

    .contenedor-adicionales__titulo {
        margin: 15px 0px;
        text-align: center;
        color: red;
    }

    .contenedor-adicionales__img-cualidades {
        background-image: url(../imagenes/personal.jpg);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 150px;
    }

    .contenedor-adicionales__img-linkedin {
        background-image: url(../imagenes/linkedin.jpg);
        background-position: center;
        background-size: contain;
        width: 150px;
        height: 150px;
    }

    .contenedor-adicionales__img-freelance {
        background-image: url(../imagenes/freelance.jpg);
        background-position: center;
        background-size: contain;
        width: 150px;
        height: 150px;
    }

    /* footer desktop*/
    footer {
        color: red;
        background: rgb(255, 0, 33);
        background: linear-gradient(180deg, rgba(255, 0, 33, 1) 19%, rgba(79, 2, 12, 1) 41%, rgba(42, 1, 6, 1) 61%, rgba(0, 0, 0, 1) 100%);
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        text-align: justify;
        grid-area: "footer";
    }

    footer section ul li a {
        color: red;
    }

    .footer__Titulo {
        font-size: 1.5rem;
        color: black;
    }
    }
        
    /* trancisiones */
    .main__cursos section:hover{
        transform: scale(1.3);
    }
    .seccion-presentacion__titulo:hover{
        transform: scale(1.2);
    }
    .seccion-inicio__vermas:hover{
        transform: scale(1.3);
    }